# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# cached web files
url/

# package related
elpa/

# private stuff that I don't want checked in or local
private.el

init.el
transient/